.logonav{
    font-family: "Lucida Handwriting";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
}


.logo {
    font-family: "Lucida Handwriting";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
    text-decoration: none;
  }

  .logonav span {
    color: #fd0661;
    text-decoration: none;
  }
  .logo span {
    color: #fd0661;
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  html{
    height: 100%;
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    padding-bottom: 6.74rem;
    position: relative;
    box-sizing: inherit;
    min-height: 100%;
    background-color: #fcfcfc;
  }
  .navigation {
    font-family: "Comic Sans MS";
    background-color: #fdf5ff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
  }
  .menu {
    display: flex;
  }
  .menu li a {
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-family: "Comic Sans MS";
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
  }

  .menu li a:hover,
  .menu .active {
    color: #fd0661;
    transition: all ease 0.3s;
  }

  .container {
    font-family: "Comic Sans MS";
    text-align: center;
  }
  footer {
    text-align: bottom;
    background-color: #1b075c;
    padding: 50px 20px;
    border-top: 5px solid #1b075c;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .footer-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .footer-logo {
    font-family: "Lucida Handwriting";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-social {
    display: flex;
    margin-top: 10px;
  }
  .footer-social a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid #05037d15;
    font-size: 0.9rem;
    margin: 0px 5px;
  }
  .footer-logo a {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .footer-logo a span {
    color: #fd0661;
  }