{% extends "base.html" %} {% block content %}
<div class="container">
  <h3>Create Playlist</h3>
  <div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
    {% endif %} {% endwith %}
  </div>
  <div class="form-group">
    <form action="/createplaylist" method="post">
      <input
        type="text"
        name="playlist_name"
        placeholder="Playlist Name"
        class="form-control"
        style="margin-bottom: 10px"
      />
      <div>
        <div class="check">
          {% for song in songs %}
          <div class="check-box">
            <input
              type="checkbox"
              name="selected_songs[]"
              value="{{ song.title }}"
            />{{ song.title }}
          </div>
          {% endfor %}
        </div>
        <input
          type="submit"
          value="Create Playlist"
          class="btn btn-primary"
          style="margin-top: 10px"
        />
      </div>
    </form>
  </div>
</div>
{% endblock %}
